{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Items</title>
    <style>
        #yellow{
            background-color: rgb(250, 186, 67);
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg " id="yellow" data-bs-theme="blue">
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item text">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#contact">contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'tomato:pro'%}">profile</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav><br><br>
  
    
    {% for i in data %}
    <div class="bd-example">
      
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          </ol> 
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <img src="{{  i.item_image.url  }}" class="d-block w-100 h-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ i.item_name }}</h5>
                <h5>{{ i.item_category }} - {{i.item_price}}</h5>
                <p>{{ i.item_description }}</p>
                
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="{% url 'tomato:cart' i.menu_id %}" role="button"
                >Add to Cart</a>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="{% url 'tomato:order' i.menu_id %}" role="button"
                >Order Now</a>
            </div> 
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  {%  endfor %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>
</html>